$background: #f5f5f5;

body {
  background: $background;
}

.container {
  width: 502px;
  height: 502px;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .clock-body {
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    border-radius: 50%;
    position: relative;
  }

  .transform-center {
    transform-origin: 0 250px;
    -webkit-transform-origin: 0 250px;
  }

  .time-slice-item {
    width: 4px;
    height: 10px;
    background: black;
    position: absolute;
    left: 250px;
    top: 0;
    span {
      position: absolute;
      top: 8px;
      font-size: 24px;
      left: -12px;
    }

    .second-slice-item {
      position: absolute;
      width: 4px;
      height: 4px;
      background: black;
    }
  }

  .center-point {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: red;
    z-index: 1;
    left: 248px;
    top: 248px;
    position: absolute;
  }
  .hour-hand {
    width: 16px;
    height: 100px;
    position: absolute;
    left: 242px;
    top: 240px;
    background: #304455;
    transform-origin: 8px 12px;
  }
  .minute-hand {
    width: 8px;
    height: 180px;
    position: absolute;
    left: 246px;
    top: 220px;
    background: teal;
    transform-origin: 4px 32px;
  }
  .second-hand {
    width: 4px;
    height: 250px;
    position: absolute;
    left: 249px;
    top: 200px;
    background: #f40;
    transform-origin: 2px 52px;
  }

  @for $i from 1 through 13 {
    .time-#{$i} {
      transform: rotate($i * 30deg);
    }
  }

  @for $i from 1 through 6 {
    .second-#{$i} {
      transform: rotate($i * 6deg);
    }
  }

  @for $i from 0 through 61 {
    .rotate-#{6 * $i} {
      transform: rotate($i * 6deg);
    }
  }
}
